@charset "utf-8";

body {
	margin:0;
	padding-bottom:0;
	font-family:Arial, Helvetica, sans-serif;
	font-size:12px;
	height:100%;
}
	
	

@font-face {
    font-family: 'ProximaNovaRgBold';
    src: url('../font/proximanova-bold-webfont.eot');
    src: url('../font/proximanova-bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../font/proximanova-bold-webfont.woff') format('woff'),
         url('../font/proximanova-bold-webfont.ttf') format('truetype'),
         url('../font/proximanova-bold-webfont.svg#ProximaNovaRgBold') format('svg');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'ProximaNovaLtBold';
    src: url('../font/proximanova-semibold-webfont.eot');
    src: url('../font/proximanova-semibold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../font/proximanova-semibold-webfont.woff') format('woff'),
         url('../font/proximanova-semibold-webfont.ttf') format('truetype'),
         url('../font/proximanova-semibold-webfont.svg#ProximaNovaLtBold') format('svg');
    font-weight: normal;
    font-style: normal;

}


@font-face {
    font-family: 'ProximaNovaThBold';
    src: url('../font/proximanova-extrabold-webfont.eot');
    src: url('../font/proximanova-extrabold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../font/proximanova-extrabold-webfont.woff') format('woff'),
         url('../font/proximanova-extrabold-webfont.ttf') format('truetype'),
         url('../font/proximanova-extrabold-webfont.svg#ProximaNovaThBold') format('svg');
    font-weight: normal;
    font-style: normal;

}

h1 
{
    margin:10px; font-size:20px;
    	display:table; width:800px; margin-left:auto; margin-right:auto;}


h3, h4, h5, h6, h7 {
	color:#000000;
	margin:10px;
} 

h2 {
	color:#ADC995;
	margin:0;
		font-size:19px;
}


h3 {
	margin:0;
	color:#f60;}
/*
#wrapper 
{
   margin:0; 
   min-height:100%;
   height:100%;
   position:relative;
   bottom:80px;
   padding-bottom:80px;
   top:0;
   }*/
	

div.header {
	background-color: #f4d101;
	display: block;
	height: 75px;
	width: 100%;
	margin-top:0px;
}


div.footer 
{background-color: #f4d101;
    bottom:0px;
    width:100%;
    height:20px;
    top:auto;
    margin-top:auto;
    position:fixed;
    text-align:right}
    


div.footer span
{
    display:block;
    bottom:0px;
    width:100%;
    margin-top:0px;
    height:21px;
    position:relative;
    background-color: #f4d101;}


div.footer img 
{
    float:right;
    position:absolute;
    bottom:0;
    right:0;
    z-index:2;}

div.header .img{
	margin-left:20px;
	margin-right:auto;
	width:145px;
	position:absolute;
	margin-top:0;
	z-index:3;}



div.nav {
	width:100%;
	display:table;
	height:80px;
	margin-top:50px;
	z-index:2;
	position:absolute;
	left:0;
	background:#ffffff;
	padding:10px auto;	
	-moz-box-shadow: 0 3px 3px #cccccc;
	-webkit-box-shadow: 0 3px 3px #cccccc;
	box-shadow: 0 3px 3px #cccccc;
	border:1px solid #ccc;
	
}



div.nav ul{
	margin-left:130px;
	margin-bottom:0;
	margin-top:0;
	padding:0 auto;
	display:;
	border:none;
	min-width:900px;
	/*max-width:900px;*/
}

div.nav ul li {
	list-style:none;
	float:left;
	text-align:center;
	font-family: ProximaNovaLtBold,ProximaNovaThBold, Arial, Helvetica,Sans serif;
	font-size:11px;
	margin:5px 0px 35px;
	padding:0;
	height:40px;
	width:auto;
	}
	

div.nav ul li:hover > a
{
    color:#fff;
   /* z-index:3;*/
    background:#45a65a;
       	
}

div.nav ul li ul  {
	visibility:hidden;
	margin:0;
	padding:0;
	position:absolute;
	height:49px;
    min-width: 150px;
    max-width: 150px;
    width: 150px;
}

div.nav ul li:hover > ul {
	visibility:visible;}

	 
 div.nav ul li a  
 {
     font-weight:bolder;
     text-transform:uppercase;
	 text-decoration:none;
	 display:block;
	 width:150px;
	 height:40px;
	line-height:40px;
	color:#000;
	margin:0;
	padding:0;
		-moz-border-radius:10px 10px 0px 0px;
	-webkit-border-radius:10px 10px 0px 0px;
	border-radius:10px 10px 0px 0px;
	z-index:99999;
}

 div.nav ul li ul li a:hover 
 {
    	color:#c8e4ce;  }


 div.nav ul li a.double  
 {
     line-height:25px;}

div.nav ul li a:hover{
	text-decoration:none;
	color:#ffffff;}
	
div.nav ul li ul li 
{
    height:30px;
    font-size:11px;
    margin:0;}
    

div.nav ul li ul li a 
{
    height:40px;
    line-height:40px;
    background:#45a65a;
    color:#fff;
    width:auto;
    min-width:120px;
    -moz-border-radius:0px;
	-webkit-border-radius:0px;
	border-radius:0px;
	padding:0 15px;}
	

div.nav ul li ul li a.first
{
   	-moz-border-radius:0px  0px 10px 10px;
	-webkit-border-radius:0px  0px 10px 10px;
	border-radius:0px  0px 10px 10px;
   }
   

div.nav ul li ul li a.middle
{
   	-moz-border-radius:0px;
	-webkit-border-radius:0px;
	border-radius:0px;
   } 
  
div.nav ul li ul li a.last
{
   	-moz-border-radius:0px  0px 10px 10px;
	-webkit-border-radius:0px  0px 10px 10px;
	border-radius:0px  0px 10px 10px;
   } 
	
.wrapper {
	width:900px;
	margin-left:auto;
	margin-right:auto;}
	
table.index3 {
	text-align: left;
	border: 1px solid #adc995;
	background: #f0f5e5;
	font-size: 15px;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	border-radius: 10px;
	white-space: nowrap;
	margin-top:10px;
	min-width:495px;
}

table.index3 tr td  {padding:5px;}

table.index2 {
	text-align:center;
	border:1px solid #adc995;
	background:#f0f5e5;
	font-size:12px;
	margin:0 auto;
	-moz-border-radius: 10px; 
	-webkit-border-radius: 10px;
	border-radius: 10px;
	margin-left:auto;
	margin-right:auto;
	width:auto;
	max-width:520px;
	min-width:520px;
	width:520px;
white-space:nowrap;
}


table.index2  tr td span.nobrd input 
{
    border:none;
    width:20px;}
	
table.index {
	text-align:center;
	border:1px solid #adc995;
	background:#f0f5e5;
	font-size:12px;
	margin-top:0px;
	-moz-border-radius: 10px; 
	-webkit-border-radius: 10px;
	border-radius: 10px;
	margin-left:auto;
	margin-right:auto;
	width:auto;
	max-width:800px;
	min-width:800px;
	width:800px;
}

table.index tr td 
{
   padding: 7px 2px 0px;
    text-align:right;
    vertical-align:middle;
    height:10px;}
    
table.index tr td.resultados {vertical-align:top;}    
    
table.index tr td.resultados div{top:0; position:relative; display:table; bottom:auto;}
    
table.index tr td.floatnone 
{
    text-align:left;
    max-height:15px;
    height:15px;
    min-height:15px;}
  
table.index tr td.floatnone input[type="checkbox"]
{
    float:none;}
    
 table.index3 tr td.floatnone input[type="checkbox"]
{
    float:none;}    
    
table.index tr td.floatnone input{ float:left; min-height:16px;}
   
   
table.index tr td.floatnone table tr td 
{
    text-align:left;
    font-size:10px;
    white-space:nowrap;}  
    

table.index tr td.floatnone table tr td a.ui-combobox-toggle 
{
   top:0px; }   
  
  
 table.index tr td.floatnone table tr td img 
 {
     position:relative;
     margin-left:25px;} 
   
table.index tr td input[type="text"]
{
float:left;
 }

table.index tr td.none input[type="text"]
{
float:none;
 }

table.index tr td.none {text-align:left;}

table.index tr td input[type="checkbox"]
{
float:left;
 }
 
 table.index tr td input[type="password"]
{
float:left;
 }
 
 
table.index tr td h2 
{
    float:left;
}

table.index img {
	position:relative;
}


div.disclaimer 
{
    position:fixed;
    bottom:20px;
    text-align:justify;
    padding-top:10px;
    padding-bottom:10px;
    padding-right:200px;
    padding-left:10px;
    /*background:#ccc;*/
    font-style:italic;
    font-size:10px;
    top:auto;}

.form {
	border:1px solid #adc995;
	background:#f0f5e5;
	width:900px;
	min-height:inherit;
	display:table;
	margin-left:auto;
	margin-right:auto;
	-moz-border-radius: 15px; 
	-webkit-border-radius: 15px;
	border-radius: 15px;}

.form table  {
	width:90%;
	margin:0 auto;}
	
.form table tr td {
	text-align:left;
	white-space:nowrap;
	}


.form table input {
	margin-right:3px;}

.form table label {
	float:right;
}


table.index td.checkboxes 
{
    white-space:nowrap;
    text-align:left;}

table.index td.checkboxes label 
{
    float:none;
    margin-top:-1px;
    white-space:nowrap;}
   
   
 table.index td.checkboxes input 
{
 width:20px;
 border:none;}
	
	
.grid {
	display:table;
	width:auto;
	height:auto;
	text-align:center;
	padding-top:30px;
	margin-left:auto;
	margin-right:auto;
	margin-bottom:0;
	text-align:left;
	}



	
	
           .pager 
           {
               width:800px;
               max-width:800px;
               margin:20px auto;
               display:table;}
               
               
   .pager .pagedisplay 
   {
      width:55px;
               max-width:55px;
               min-width;55px;
       
       }
          .pager .cajaCh
           {
               width:55px;
               max-width:55px;
               min-width;55px;}
               
                           
          .pager  select
           {
               width:55px;
               max-width:55px;
               min-width:55px;
               float:none;}
               

.grid table {
	width:auto;
	margin-left:auto;
	margin-right:auto;
	margin-bottom:30px;

	
	-moz-border-radius:7px; 
	-webkit-border-radius: 7px;
	border-radius: 7px;
}


.grid table tr:nth-of-type(odd) {
	background:#CCC;
}


.grid table tr th {
	border-top:1px solid #adc995;
	border-bottom:1px solid #adc995;
	background:#f0f5e5;
	color:#000;
	padding:2px 5px;
	font-family: ProximaNovaRgBold, ProximaNovaLtBold,ProximaNovaThBold, Arial, Helvetica,Sans serif;
	font-size:12px;
	text-transform:uppercase;
	white-space:nowrap;
}


.grid table.permisos tr td {text-align:left;}

.container {
	background:#ffffff;
	display:table;
	width:auto;
	padding-top:0;
	padding-left:50px;
	padding-right:50px;
	padding-bottom:50px;
	margin-left:auto;
	margin-right:auto;
	margin-top:85px;
	margin-bottom:90px;
	border:1px solid #cccccc;
	max-width:90%;
	-moz-box-shadow: 0 0 9px #999999;
	-webkit-box-shadow: 0 0 9px #999999;
	box-shadow: 0 0 9px #999999;}

.grid table tr td {
	padding:3px 10px;
	text-align:center;
	white-space:nowrap;}
	
.grid table tr td.wrapped {
	padding:3px 10px;
	white-space:normal;
	word-break:break-word;
	max-width:300px;
	text-align:justify;}

.gridView tr td.wrapped {	white-space:normal;
	word-break:break-word;}

form {
	margin:0;
	padding:0;
	/*width:-moz-fit-content;*/}

input {
	border:1px solid #000;
	-moz-border-radius: 3px; 
	-webkit-border-radius: 3px;
	border-radius: 3px;
	padding: 1px;
	-webkit-transition: border .7s;
	-moz-transition: border .7s;
	transition: border .7s;
	letter-spacing:0.03em;
	width:153px;
	font-size:12px;
}

input:focus {
	border:1px solid #000;
		-moz-box-shadow: 0px 0px 2px #ccc inset;
	-webkit-box-shadow:0px 0px 2px #ccc inset;
	box-shadow:0px 0px 2px #ccc inset;
	font-style:normal;
		}
		
input:enabled {
	border:1px solid #000;
		-moz-box-shadow: 0px 0px 2px #ccc inset;
	-webkit-box-shadow:0px 0px 2px #ccc inset;
	box-shadow:0px 0px 2px #ccc inset;
	font-style:normal;
		}
		
input:visited {
	border:1px solid #bad429;
		-moz-box-shadow: 0px 0px 2px #ccc inset;
	-webkit-box-shadow:0px 0px 2px #ccc inset;
	box-shadow:0px 0px 2px #ccc inset;
	font-style:normal;
		}

label {
	margin:10px;}
	
select 
{
    min-width:150px;
		-moz-border-radius: 5px; 
	-webkit-border-radius: 5px;
	border-radius: 5px;
	border:1px solid #000;
	float:left;
    width: 77px;
    font-size:12px;
}

select option {z-index:998;}
select.smaller {width:142px; min-width:142px;}

header form {
	margin:0;
}


.msjError 
{
    background:url(../img/alert.png) #F4D101;
    background-repeat:no-repeat;
    background-position:4px 4px;
    display:block;
    color:#000;
    border:1px solid #F4D101;
    padding-top:5px;
    padding-bottom:5px;
    padding-left:25px;
    padding-right:5px;
    font-weight:bold;}

DIV.search {
	position:absolute;
	float:right;
	top:3px;
	color:#474747;
	right:25px;
	text-transform:uppercase;
	font-size:10px;
	}
	
DIV.search table tr td 
{
    vertical-align:middle;}
	
DIV.search table tr td a 
{
    font-size:10px;
    color:#000;}

header input[type="search"] {
	position:relative;
	float:left;
	top:10px;
	margin:0 5px;
	background:url(../img/search.png) no-repeat 3px 4px;
	padding:3px 20px;
}




.username {
position:relative;
	line-height:30px;
		height:17px;
	top:0;
	margin:0 5px;
	display:block;
	background:url(../img/user.png) no-repeat bottom left;
	padding:0px 5px 3px 23px;
}


.logout {
position:relative;
	line-height:30px;
	height:17px;
	top:0;
	margin:0 5px;
	display:block;
	background:url(../img/on-off_icon16.png) no-repeat bottom left;
	padding:0px 10px 3px 23px;
	color:#474747;
	text-decoration:none;
}

.logout:hover 
{
    text-decoration:underline;}


input[type="file"] {
width:250px;
background:#fff;
}

a.save {
	float:right;
	display:block;
	text-decoration:none;
	border:1px solid #000;
	color:#000000;
	font-family: ProximaNovaRgBold, ProximaNovaLtBold,ProximaNovaThBold, Arial, Helvetica,Sans serif;
	text-transform:uppercase;
	font-size:11px;
	padding:3px;
	margin:5px;
	/*------- ESQUINAS REDONDEADAS*------------*/
	-moz-border-radius: 5px; 
	-webkit-border-radius: 5px;
	border-radius: 5px;
	/*--------SOMBRA--------------------------*/
	-moz-box-shadow: 1px 1px 2px #777;
	-webkit-box-shadow: 1px 1px 2px #777;
	box-shadow: 01px 1px 2px #777;
	/*-------FONDO DEGRADADO------------------*/
	background:#aeacb2;

background-image: -webkit-gradient(
	linear,
	left bottom,
	left top,
	color-stop(0.25, rgb(182,182,182)),
	color-stop(0.63, rgb(206,206,206))
);}


input.Aceptada[type="submit"]
{
    color:Blue;
    border:none;
    background:none;
    text-decoration:underline;
    font-size:12px;
    font-weight:lighter;
    	-moz-box-shadow: none;
	-webkit-box-shadow: none;
	box-shadow: none;
	background:url("../img/check_16x13.png")  no-repeat left center;
	padding-left:25px;
	margin-left:auto;
	margin-right:auto;} 

input.Aceptada[type="submit"]:hover
{
    color:Blue;}
    
   
input.Rechazada[type="submit"]
{
    color:Blue;
    border:none;
    background:none;
    text-decoration:underline;
    font-size:12px;
    font-weight:lighter;
    	-moz-box-shadow: none;
	-webkit-box-shadow: none;
	box-shadow: none;
	background:url("../img/x_14x14.png")  no-repeat left center;
	padding-left:17px;
	padding-right:0;
	margin-left:auto;
	margin-right:auto;} 

input.Rechazada[type="submit"]:hover
{
    color:Blue;}
    
   
input.proceso[type="submit"]
{
    color:Blue;
    border:none;
    background:none;
    text-decoration:underline;
    font-size:12px;
    font-weight:lighter;
    	-moz-box-shadow: none;
	-webkit-box-shadow: none;
	box-shadow: none;
	background:url("../img/inbox_icon16.png")  no-repeat left center;
	padding-left:25px;
	margin-left:auto;
	margin-right:auto;} 

input.proceso[type="submit"]:hover
{
    color:Blue;}
    
   
   
input.Cancelada[type="submit"]
{
    color:Blue;
    border:none;
    background:none;
    text-decoration:underline;
    font-size:12px;
    font-weight:lighter;
    	-moz-box-shadow: none;
	-webkit-box-shadow: none;
	box-shadow: none;
	background:url("../img/canceled.png")  no-repeat left center;
	padding-left:25px;
	margin-left:auto;
	margin-right:auto;} 

input.Cancelada[type="submit"]:hover
{
    color:Blue;}  
  


input[type="submit"], input[type="reset"], input[type="button"] {
	float:right;
	border:1 px solid #847c7e;
	color:#000000;
	font-family: ProximaNovaRgBold, ProximaNovaLtBold,ProximaNovaThBold, Arial, Helvetica,Sans serif;
	text-transform:uppercase;
	font-size:11px;
	/*display:table;*/
	width:auto;
	margin:5px;
	padding:3px;
	/*------- ESQUINAS REDONDEADAS*------------*/
	-moz-border-radius: 5px; 
	-webkit-border-radius: 5px;
	border-radius: 5px;
	/*--------SOMBRA--------------------------*/
	-moz-box-shadow: 1px 1px 2px #777;
	-webkit-box-shadow: 1px 1px 2px #777;
	box-shadow: 01px 1px 2px #777;
	/*-------FONDO DEGRADADO------------------*/
	background:#aeacb2;

background-image: -webkit-gradient(
	linear,
	left bottom,
	left top,
	color-stop(0.25, rgb(182,182,182)),
	color-stop(0.63, rgb(206,206,206))
);
background-image: -moz-gradient(
	linear,
	left bottom,
	left top,
	color-stop(0.25, rgb(182,182,182)),
	color-stop(0.63, rgb(206,206,206))
)}


input[type="submit"]:hover, input[type="reset"]:hover,  input[type="button"]:hover {
	color:#fff;
}


input[type="checkbox"]{
	margin:0;
	border:0;
	border-style:hidden;
	width:auto;}


.cajaChica {
	width:75px;}
	
	
.popup {
	width:467px;
	max-width:467px;
	background:#5b5b5f;
	border:5px solid #000;
	float:left;
	font-size:1.2em;
	position:fixed;
	top:50%; left:50%;
	z-index:99999;
	border-radius:10px;
	-moz-border-radius:10px;
	-webkit-border-radius:10px;
	display:none;}

.popup h1 {
	color:#fff;
	margin:3px;
}

.popup h2 {
	color:#fff;
	margin:3px;
	}
	
.popup table {
	width:100%;}

.popup table tr th {
	background:#fff;
	color:#000;}
	
.popup table tr td {
	text-align:center;
	background:#fff;
}

img.btn_close {
	float:right;
	margin:3px;}
	

	
#mask {
	display:none;
	background:#000;
	position:fixed; left:0; top:0;
	z-index:10;
	width:100%;
	height:100%;
	opacity:0.8;
	z-index:999;
}

table.priority {
	width:100%;
	border:1px solid #d2e3d0;
}

table.priority tr th {
	background:#F60;
	color:#fff;
	text-align:center;
	padding:5px;
	font-size:1.2em;}

table.priority tr:nth-of-type(odd) {
	background:#d2e3d0;
	}

table.priority tr td {
	padding:3px;
	text-align:center;
	font-weight:bolder;}

.filter {
	width:100%;
	border:none;
	margin-top:20px;
	margin-bottom:50px;
	margin-left:0;
	margin_right:0;}

.history {width:22px;
border-right:1px solid #000;
border-left:1px solid #000;
height:100%;
background:#aeacb2;
vertical-align:middle;
	position:absolute;
	padding:90px 0; 
		
	}


a.vertical {
	display:block;
	color:#000;
	font-weight:bold;
	text-decoration:none;
	margin-left:auto;
	margin-right:auto;
	text-align:right;
	font-size:16px;
	-webkit-transform:rotate(270deg);
	-moz-transform:rotate(270deg);
	-o-transform: rotate(270deg);}
	
	
#modal_2 {
	border:1px solid #dddddd;
	 background-color: #dddddd;
    color: #000;
    height: 100%;
    padding:63px 6px;
    position: relative;
    top: 0;
    width: 183px;
	float:left;
}

#modal_2 img {
	margin-left:auto;
	margin-right:auto;
	-moz-box-shadow: 0 0 3px #666666;
	-webkit-box-shadow: 0 0 3px #666666;
	box-shadow: 0 0 3px #666666;}
	
#modal_2 a {
	display:block;
	width:60%;
	background:#333;
	color:#fff;
	text-decoration:none;
	margin:2px 0;
	}

#pageslide {
	border:1px solid #dddddd;
	 background-color: #dddddd;
    color: #000;
    height: 100%;
    padding:0px 13px 0px 3px;
    position: fixed;
    top: 0;
    width: 160px;
    z-index: 999999;
		overflow-y:scroll;
		overflow-x:hidden;}
	
#pageslide h3{
	width:148px;}

#pageslide img {
	-moz-box-shadow: 0 0 3px #666666;
	-webkit-box-shadow: 0 0 3px #666666;
	box-shadow: 0 0 3px #666666;}
	
#pageslide a {
	display:block;
	width:60%;
	background:#333;
	color:#fff;
	text-decoration:none;
	margin:2px 0;
	}

#pageslide a.btn_close_two {
	float:right;
	margin:3px 100px;
	background:url(../img/close_black.png) no-repeat transparent;
	width:14px;
	height:14px;}

#modal { display: none; width:250px; }


#modal h3 a { color: #ddd; text-decoration:none; padding-left:15px; background:url(../images/inactive.png) 0 3px no-repeat; font-size:17px; }
#modal h3 a:hover { text-decoration:underline; }
		
#modal h3.inactive a { color: #ddd; text-decoration:none; padding-left:15px; background:url(../images/inactive.png) 0 3px no-repeat; }
#modal h3.inactive a:hover { text-decoration:underline; }
		
#modal h3.active a{ color: #fff; text-decoration:none; padding-left:15px; background:url(../images/active.png) 0 3px no-repeat;}
#modal h3.active a:hover { text-decoration:underline}



.alert 
{
    color:#f60;
    margin:3px;
    display:block;
    margin-top:100px;
    margin-left:auto;
    margin-right:auto;
    margin-bottom:10px;
    text-align:center;
    font-size:16px;
    text-transform:uppercase;
    width:800px;
    text-align:center;
    position:relative;
}


div.alerta
{
padding:10px 5px 5px 70px; 
text-align:left;
height:auto;
color:#000000;
white-space:normal;
}


div.alerta span 
{
    color:#000000;
    display:block;
    float:left;
    margin-top:10px;
    font-weight:bolder;
    }
    
div.alerta img 
{
    float:left;
    position:absolute;
    left:10px;
    top:0px;}
 
table.white 
{
    margin:10px auto;}   
   
table.white td 
{
    background:#fff;
    padding:4px;
    border:1px solid #fff;}
   
table.white td h1 {
color:#847c7e;
margin:0;}
 
table.white td h2 
{
    color:#6c9e3d;
    font-size:16px;
    margin:0;
    float:right;}
    
    table.white textarea 
    {
        width:300px;
        height:100px;}
       
       
      
 table.white a 
 {
     color:Blue;
     text-decoration:underline;}
    
    
    
    .ajax__calendar .ajax__calendar_container 
    {
        position:absolute;
        z-index:999999;
        margin-top:-50px;}
        
       
       
      .cajaLarga 
      {
          width:200px;}
          
          
        
       .cajaMed 
       {
           width:80px;}
           
           
           
          .cajaCh 
          {
              width:40px;}
              


		              
	.welcome_inner 
	{
		background:url('../img/welcome_inner_bg.png');
		width:100%;
		min-width:1000px;
		height:710px;
		vertical-align:middle;
		-moz-box-shadow: 0px 0px 2px #ccc inset;
		-webkit-box-shadow:0px 0px 2px #ccc inset;
		box-shadow:0px 0px 2px #ccc inset;
		margin-top:20px;
		margin-left:0;
		margin-right:0;
	}
              
             table.bienvenida 
             {
                 width:100%;
                 max-width:800px;
                 margin-left:auto;
                 margin-right:auto;
                 margin-top:20px;
                 margin-bottom:auto;}
                 
                 
                   table.bienvenida td 
                   {
                       text-align:center;
                       vertical-align:top;
                       padding:10px;}
                       
                 table.bienvenida tr td a 
                 {
                     font-size:16px;
                     color:#000;
                     font-weight:bold;
                     text-decoration:none;
                     }
                     
                     
                     table.bienvenida tr td a:hover 
                     {
                         text-decoration:underline;}     
                      
                      table.bienvenida tr td a.block 
                      {
                          width:119px;
                          height:119px;
                          display:block;
                          margin-left:auto;
                          margin-right:auto;
                          margin-top:20px;
                          	-moz-border-radius: 15px; 
	-webkit-border-radius: 15px;
	border-radius:15px;
		-moz-box-shadow: 0px 0px 8px #777;
	-webkit-box-shadow: 0px 0px 8px #777;
	box-shadow: 0px 0px 8px #777;}
                      
              
              .facturas 
              {
                  background:url('../img/factura.png') no-repeat 50% 50% #f6af39;
                  border:2px solid #e78f08;
                  }
           
           .facturas:hover  
           {
               background:url('../img/factura.png') no-repeat 50% 50% #e78f08}
               
               
               
               .pagos 
               {
                   background:url('../img/pago.png') no-repeat 50% 50% #f0f5e5;
                   border:2px solid #adc995;}
                   
                 
                 
                 .pagos:hover 
                 {
                     background:url('../img/pago.png') no-repeat 50% 50% #adc995;}
                     
                     
                     
                     
                   table.bienvenida tr td a.datos 
                     {
                         background:url('../img/datos.png') no-repeat 50% 50% #f7f7f7;
                         border:2px solid #cccccc;
                         cursor:default;
                         -moz-box-shadow: none;
	-webkit-box-shadow:none;
	box-shadow:none;}
                         
                      table.bienvenida tr td a.dats {cursor:default; color:#ccc;}
                         
                     table.bienvenida tr td a.dats:hover 
                         {
                             text-decoration:none;}
                         
  
          
span.ui-combobox input{height: 16px;font-size: 13px; min-height:16px; background:#fff; width:100px; margin:0; float:left; padding:1px;    	-moz-border-radius:3px  0px 0px 3px;
	-webkit-border-radius:3px  0px 0px 3px;
	border-radius:3px  0px 0px 3px;}

div.pager span.ui-combobox input {width:25px;}

.grid table tr td a{position: relative !important;top: 0;}
           
           
.grid table tr td a.ui-combobox-toggle {top:0px;}

             DIV.instrucciones {text-align:left; font-weight:bolder; color:#fff; background:#adc995; max-width:750px; white-space:normal; width:750px; margin:0 auto; padding:5px;}
             DIV.instrucciones h2 {color:#fff;}
             
.visibilityHidden{visibility:hidden;}

table.index tr td.buscador {vertical-align:top;}
td.buscador .ui-button{border:none; margin-top:0; margin-left:-1px;}       